/*リセット*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@page {
    size: 210mm 297mm;
    margin: 8mm;
    font-size: 10q;
}




.color-box{
    display: inline-block;
    width: 3em;
    font-size: 14q;
}