@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

@page {
  size: A5;
  margin-block: 15mm;
  margin-inline: 15.5mm;
}

body {
  font-size: 13Q;
  line-height: 24Q;
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-spacing: auto;
  widows: 1;
  orphans: 1;
  width: calc(26em + 4.5mm);
  border-right: solid 0.5mm #888;
  padding-right: 4mm;
}

p {
  font-size: 13Q;
  line-height: 24Q;
  text-indent: 1em;
  text-align: justify;
  margin-block: 0;
}

/* 側注 */
.sidenote {
  position: absolute;
  inset-inline-start: calc(13Q * 26 + 10mm);
  font-size: 11Q;
  line-height: 15Q;
  inline-size: 10em;
}
.sidenote h5 {
  margin-block: 0;
}
.sidenote h5::before {
  content: "➡";
}
.top2Ldown {
  transform: translateY(calc(24Q * 2));
}
.top1Ldown {
  transform: translateY(24Q);
}
.top2Lup {
  transform: translateY(calc(-24Q * 2));
}
.top1Lup {
  transform: translateY(-24Q);
}
