@import "sample5-headings.css";

figure {
  margin-block: 4mm;
  margin-inline: 0;
  background: #eee;
}

img {
  max-inline-size: 100%;
  border: solid 0.5mm #000;
}
img[src$=".svg"] {
  border: none;
}

figure:has(.float-bottom) {
  float: block-end;
  float-reference: page;
  margin-block-end: 0;
}
figure:has(.float-right) {
  float: inline-end;
  /* float-reference: page; */
  inline-size: 17em;
  margin-block: 2mm;
  margin-inline: 2em 0;
}

.float-clear {
  clear: both;
}
