@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

@page {
  size: A5;
  margin-block: 15mm;
  margin-inline: 15.5mm;
}

body {
  font-size: 13Q;
  line-height: 24Q;
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-spacing: auto;
  widows: 1;
  orphans: 1;
}

h6 {
  font-size: 14Q;
  margin-block: 1lh 0;
}

p {
  font-size: 13Q;
  line-height: 24Q;
  text-indent: 1em;
  text-align: justify;
  margin-block: 0;
}

/* 表 */
table {
  border-collapse: collapse;
  font-size: 11Q;
  line-height: 15Q;
}

td,
th {
  border: solid 0.1mm #000;
  min-inline-size: 7em;
  padding-block: 1mm;
  padding-inline: 2mm;
}

/* 図 */
figure {
  margin-block: 0.5lh;
  margin-inline: 0;
}
figcaption {
  font-size: 14Q;
  font-weight: 700;
}

/*コード  */
pre {
  border: solid 0.5mm #000;
  background: #eee;
  margin-block-start: 0;
  padding-block: 1mm;
  padding-inline: 2mm;
}

/* ルート要素 */
:root {
  counter-reset: figure-counter code-counter table-counter;
}

/* 図表番号 */
figcaption::before {
  content: "図" counter(figure-counter) "：";
  counter-increment: figure-counter;
}

h6:has(+ table)::before {
  content: "表" counter(table-counter) "：";
  counter-increment: table-counter;
}

h6:has(+ pre)::before {
  content: "コード" counter(code-counter) "：";
  counter-increment: code-counter;
}
