@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A5;
  margin: 15mm 15.5mm 15mm 15.5mm;
}

body {
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-spacing: normal;
  widows: 1;
  orphans: 1;
}

/* 奥付 */
.okuduke-container {
  height: 180mm;
  font-size: 12Q;
  line-height: 1.25em;
  text-indent: 0;
  display: grid;
  grid-template-rows: 15mm auto 18mm;
  grid-template-areas: "header" "book-info" "footer";
}

/* 上部のスタッフリスト */
.staff-list {
  grid-area: header;
  border: solid 0.5mm #000;
  padding: 1mm;
  list-style: none;
}
/* 下部の注意書き */
.caution {
  grid-area: footer;
  align-self: end;
  font-size: 11Q;
}
/* 書籍情報 */
.book-info {
  grid-area: book-info;
  align-self: end;
  display: grid;
  grid-template-columns: 4em auto; /*★*/
  column-gap: 1em; /*★*/
  row-gap: 1mm;
}
dt {
  text-align-last: justify;
}
dt.booktitle,
dt.publish-date,
dt.isbn-copy {
  display: none;
}
dd.booktitle {
  grid-column: 1/3;
  font-size: 20Q;
  line-height: 1.5em;
  border-bottom: solid 0.5mm #000;
  padding-bottom: 2mm;
  margin-bottom: 2mm;
}
dd.publish-date {
  grid-column: 1/3;
  height: 2.5lh;
}
dd.publish-date .date {
  width: 4.5em;
  display: inline-block;
  text-align: right;
  margin-right: 2em;
}
dd.isbn-copy {
  grid-column: 1/3;
}
