@import "sample5-headings.css";

ul,
ol {
  margin-block: 0.5lh;
  margin-inline: 2em 0;
}

:root {
  column-count: 2;
  column-gap: 2em;
  column-rule: solid 0.5mm #000;
  column-fill: auto;
}

h2 {
  float: block-start;
  float-reference: page;
  background: #fff;
}

/* 段抜きコラム記事 */
.article {
  border: solid 0.5mm #000;
  padding: 4mm;
  background: #fff;
  float: block-end;
  float-reference: page;
  column-count: 3;
  column-gap: 1.2em;
  position: relative;
}
.article h5 {
  column-span: all;
  font-size: 15Q;
  line-height: 2em;
  margin-block: 0;
}
.article p {
  font-size: 11Q;
  line-height: 1.7em;
}
.article::before {
  content: "";
  background: #fff;
  inline-size: 100%;
  block-size: 4mm;
  position: absolute;
  inset-block-start: -4.5mm;
  inset-inline-start: 0;
}
