@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

@page {
  size: A5;
  margin-block: 15mm;
  margin-inline: 15.5mm;
}

body {
  font-size: 13Q;
  line-height: 24Q;
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-spacing: auto;
  widows: 1;
  orphans: 1;
}

p {
  font-size: 13Q;
  line-height: 24Q;
  text-indent: 1em;
  text-align: justify;
  margin-block: 0;
}

/* インラインSVG */
figure {
  margin-block: 4mm;
  margin-inline: 0;
}

svg text {
  font-size: 16Q;
  fill: #fff;
  text-anchor: middle;
  transform: translate(8px, 15.5px);
}

.imarker {
  display: inline-block;
  inline-size: 1.5em;
  block-size: 1.5em;
  line-height: 1.2em;
  color: #fff;
  padding-block-start: 0.3mm;
  padding-inline: 1mm 0;
  text-indent: 0;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M0,0 L15,0 L20,10 L15,20, L0,20 L0,0' stroke='%23fff' fill='%23f00'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
