@import "sample5-headings.css";

:root {
  --chapter-number: 1;
  --index-size: 10mm;
}

@page {
  bleed: 3mm;
  marks: crop;
  counter-reset: chapter-counter var(--chapter-number);
}

@page: right {
  @right-top {
    content: counter(chapter-counter);
    font-size: 29Q;
    line-height: 1em;
    text-align: start;
    inline-size: 12mm;
    margin-inline-start: 5.5mm;
    padding-inline-start: 1mm;
    block-size: calc(var(--index-size) - 2mm);
    margin-block-start: 0;
    border-block-end: solid 2mm #3a3a3a;
    transform: translateY(calc(var(--index-size) * (var(--chapter-number) - 1)));
    background: #ddd;
  }
  @right-bottom {
    content: "";
    inline-size: 12mm;
    margin-inline-start: 5.5mm;
    block-size: calc(var(--index-size) - 2mm);
    margin-block-end: 0;
    /* border-block-start: solid 2mm #3a3a3a; */
    /* background: #f00; */
  }

  @right-middle {
    content: string(chapter, first);
    font-size: 11Q;
    line-height: 1em;
    writing-mode: vertical-rl;
    block-size: 1em;
    vertical-align: top;
    margin-block-end: 6.5mm;
    padding-inline: 2mm;
    transform: translateY(calc(var(--index-size) * (var(--chapter-number) - 1)));
    /* background: #eee; */
  }

  /* 節の柱 */
  @top-right {
    content: string(section-number, first) " " string(section, first);
    font-size: 11Q;
  }
}
@page: nth(1) {
  @right-top {
    content: none;
  }
  @right-middle {
    content: none;
  }
}

/* 柱 */
h1 {
  string-set: chapter content();
}

h2 {
  string-set: section content(), section-number content(before);
}
