@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A5;
  margin: 15mm 15.5mm 15mm 15.5mm;
}

body {
  font-size: 13Q;
  line-height: 24Q;
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-spacing: auto;
  widows: 1;
  orphans: 1;
}

p {
  font-size: 13Q;
  line-height: 24Q;
  text-indent: 1em;
  text-align: justify;
}

/* 吹き出し */
.kaiwa-container {
  margin: 8mm 0;
  display: grid;
}

.kaiwa {
  border: solid 0.5mm #000;
  border-radius: 4mm;
  margin: 1mm 21mm;
  padding: 1mm 2mm;
  font-size: 14Q;
  line-height: 20Q;
  text-indent: 0;
  break-inside: avoid-page;
  position: relative;
  width: fit-content;
}
.neko {
  justify-self: end;
}

.kuma::after {
  content: "";
  position: absolute;
  left: calc(-21mm + 0.6mm);
  top: -4mm;
  width: 21mm;
  height: 14mm;
}
.kuma1::after {
  background: url("img/fukidashi-left.svg"), url("img/chara2-1.png");
  background-repeat: no-repeat;
  background-size: 5mm, 21mm;
  background-position-x: 100%, 0%;
  background-position-y: 6mm, -3mm;
}
.kuma2::after {
  background: url("img/fukidashi-left.svg"), url("img/chara2-2.png");
  background-repeat: no-repeat;
  background-size: 5mm, 21mm;
  background-position-x: 100%, 0%;
  background-position-y: 6mm, -3mm;
}

.neko::after {
  content: "";
  position: absolute;
  right: calc(-21mm + 0.6mm);
  top: -4mm;
  width: 21mm;
  height: 14mm;
}
.neko1::after {
  background: url("img/fukidashi-right.svg"), url("img/chara1-1.png");
  background-repeat: no-repeat;
  background-size: 5mm, 21mm;
  background-position-x: 0%;
  background-position-y: 6mm, -3mm;
}
.neko2::after {
  background: url("img/fukidashi-right.svg"), url("img/chara1-2.png");
  background-repeat: no-repeat;
  background-size: 5mm, 21mm;
  background-position-x: 0%;
  background-position-y: 6mm, -3mm;
}
