@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/*リセット*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@page {
    size: 158mm 210mm;
    margin: 15mm 17.25mm 15mm 17.25mm;
    /* marks: crop cross;
    bleed: 3mm; */
    font-size: 10q;

    /* ノンブル */
    @bottom-center {
        content: counter(page);
        margin-center: 3mm;
        width: 8mm;
        height: 4mm;
        font-size: 12q;
        text-align: center;
        margin-top: 5mm;
        writing-mode: horizontal-tb;
    }
}

body {
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    font-size: 20q;
    line-height: 36q;
    font-family: "Noto Sans JP", sans-serif;
    orphans: 1;
    widows: 1;
}

p {
    text-align: justify;
    text-indent: 1em;
}

h2 {
    break-before: page;
    line-height: (36q * 3);
    width: calc(36q * 3);
}

h3 {
    line-height: calc(36q * 2);
    width: calc(36q * 2);
}

figure {
    float: top;
    float-reference: page;
    writing-mode: horizontal-tb;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
}
img {
    max-width: 95%;
}