/*リセット*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@page {
  size: 210mm 297mm;
  margin: 8mm;
  font-size: 10Q;
}

.color-box {
  display: inline-block;
  inline-size: 3em;
  font-size: 14Q;
}
