@page {
  margin: 120px;

  font-size: 16Q;
  /* 下マージンボックス */
  @bottom-left {
    content: 'bottom-left';
    background: #ddd;
    padding: 2px;
  }
  @bottom-center {
    content: 'bottom-center';
    background: #eee;
    padding: 2px;
  }
  @bottom-right {
    content: 'bottom-right';
    background: #ddd;
    padding: 2px;
  }
  @bottom-right-corner {
    content: 'bottom-right-corner';
    padding: 2px;
  }
  @bottom-left-corner {
    content: 'bottom-left-corner';
    padding: 2px;
  }

  /* 上マージンボックス */
  @top-left {
    content: 'top-left';
    background: #ddd;
    padding: 2px;
  }
  @top-center {
    content: 'top-center';
    background: #eee;
    padding: 2px;
  }
  @top-right {
    content: 'top-right';
    background: #ddd;
    padding: 2px;
  }
  @top-right-corner {
    content: 'top-right-corner';
    padding: 2px;
  }
  @top-left-corner {
    content: 'top-left-corner';
    padding: 2px;
  }

  /* 左マージンボックス */
  @left-top {
    content: 'left-top';
    background: #ddd;
    padding: 2px;
  }
  @left-middle {
    content: 'left-middle';
    background: #eee;
    padding: 2px;
  }
  @left-bottom {
    content: 'left-bottom';
    background: #ddd;
    padding: 2px;
  }

  /* 右マージンボックス */
  @right-top {
    content: 'right-top';
    background: #ddd;
    padding: 2px;
  }
  @right-middle {
    content: 'right-middle';
    background: #eee;
    padding: 2px;
  }
  @right-bottom {
    content: 'right-bottom';
    background: #ddd;
    padding: 2px;
  }
}

body {
  text-align: center;
  font-size: 24Q;
}
